body {
    color: white;
    background: url('../images/abstract-astro-astronomy-956999.jpg') no-repeat;
    background-size: cover;
}

#wrapper {
    text-align: center;
}

#title {
    font-family: 'Gloria Hallelujah', cursive; 
    font-size: 100px;
}

#start {
    background: white;
    font-size: 32px;  
    font-family: 'Gloria Hallelujah', cursive;  
}

h2,
#subwrapper {
    font-family: 'Gloria Hallelujah', cursive;
    padding: 40px;
}

.radio {
    padding: 20px;
}



